.icone{
    margin-left: 7rem;
    width: 3rem;
    height: 3rem;
}
.icone2{
    margin-left: 7rem;
    width: 3rem;
    height: 3rem;
}
.icone3{
    margin-left: 7rem;
    width: 3rem;
    height: 3rem;
}
.margin-que-nao-funciona{
    margin-top: 0.1rem;
}