.navbar.scrolled{
    background-color: #14213D;
    transition: background-color 0.3s ease-in-out;
}
.fundo{
    background-color: #14213D;
    width: 120rem;
    height: 50px;
    margin-top: -7.6px;
}
.fundo2{
    background-color: #14213D;
}
.botao1{
    margin-top: 4rem;
}